@font-face
{
	font-family: "Museo Sans";
	src: url('../fonts/museosans.ttf'),
	url('../fonts/museosans.eot'),
	url('../fonts/museosans.woff');
}

@font-face
{
	font-family: "Museo Slab";
	src: url('../fonts/museoslab.ttf'),
	url('../fonts/museoslab.eot'),
	url('../fonts/museoslab.woff');
}

body
{
	font-family: "Museo Sans", Helvetica, Arial, sans-serif;
	border-left: 6px solid #c13123;
}

.logo
{
	margin-top: 20px;
	width: 100%;
	height: 400px;
	background-color: #c13123;
	background: #c13123 url('../img/logo.png') no-repeat;
	background-position: center;
}

/* Text Style */
h1
{
	font-family: "Museo Slab", Helvetica, Arial, sans-serif;
	margin: 5px 0;
}
p
{
	margin: 5px 10px;
	font-size: 120%;
}

.divider
{
	display: block;
	border-bottom: 1px solid #ddd;
	margin: 20px 20px;
}

.footer
{
	width: 100%;
	border-top: 1px solid #ddd;
	padding: 20px 0;
	text-align: center;
	color: #999;
}